:root{
    --red:#E50914;
    --deep_red: #e5091482;
    --violet: #dfc0fc;
    --content_width:21%;
    --hover: 1.3rem;
}   

body{
    background-color: black;
    color:white;
    font-family: 'Nunito', sans-serif;
    height:100vh;
}


#heading{
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    border-bottom: 1px solid var(--deep_red);
}

div[data-content]{
    width: 50px;  
}

[data-section]{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

[data-section="title"] h1{
    font-size: 2rem;
    color: white;
    margin:20px;
    margin-left: 0;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#links a,[data-section="title"] a{
    text-decoration: none;
    margin-right:20px;
    color: white;
    cursor: pointer;
}
#links a:hover{
    background-color: var(--red);
    padding: 15px;
    border-radius: 20px;
    opacity: 1;
}

#links a:active{
    background-color:var(--deep_red);
    color:white;
}

#links a:visited,[data-section="title"] a:visited{
    color: whitesmoke;
}


#modal-view{
    position: absolute;
    top:0;
    left:0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 2; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    
}

#modal-view h1{
    margin:10px;
}


.watch-list:hover{
    opacity:0.8;
    cursor: pointer;
}

.favorites-heart:hover{
    opacity:0.8;
    cursor: pointer;
}


#modal-view.hidden{
    display: none;
}


.no-scroll{
    overflow: hidden;
}

.hidden{
    display: none;
}

#menu{
    display: none;
}

[data-section="menu-container"]{
    display: none;
}

#submit,button{
    background-color:var(--red);
    padding: 10px;
    border-radius: 20px;
    font-size: 1rem;
    margin-top: 10px;
    color: white;
    cursor:pointer;
    border:0;
}



#submit:hover,button:hover{
    background-color:var(--deep_red);
    color:white;
}

button{
    margin: 30px;
}


.album-view{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.boxContents{
    width: var(--content_width);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px;
}

.boxContents div{
    margin-top: 10px;
    line-height:normal;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgBox{
    max-width: 300px;
    max-height: 300px;
    
}

.imgBox img{
    max-width: 100%;
    max-height: 100%;
    border: 3px solid var(--red);
}

input{
    border-radius: 4px;
    padding: 10px;
    border:0;
}
.submit{
    background-color: var(--red);
    color: white;
    font-family:'Nunito', sans-serif;
}

.submit:hover{
    background-color: var(--deep_red);
}

.vote{
    color: var(--red);
    display: inline-block;
    font-size: 1.5rem;
}

a:hover{
    cursor: pointer;
    opacity: 0.8;
}

.overview{
    font-size: 1rem;
}

a.display-overview{
    cursor: pointer;
    font-size: 1.2rem;
    margin: 5px;
    color: var(--violet);
}

a.display-overview:hover{
    font-size: var(--hover);
    opacity: 0.6;
}

div.vote-container{
    display: flex;
    flex-direction: row;
}

div.vote-container em{
    margin-left: 10px;
}

.share{
    cursor: pointer;
    font-size: 1rem;
    color: #c1acef;
}


.share:hover{
    opacity:0.8;
}

#text-box{
    display: flex;
}

#text-box input{
    cursor: pointer;
}

textarea{
    resize: none;
    padding: 8px;
    height: 35px;
    border-radius: 4px;
    background: whitesmoke;
    width: 300px;
    margin-right:10px ;
    border:0;
}

textarea:focus,input:focus{
    outline-width: 0 !important;
}

footer{
    background-color: rgb(58, 58, 58);
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.max-width{
    width:50%;
}

.inc-width{
    width:28%;
}

h1{
    color: var(--red);
    font-size: 4rem;
    margin:0;
}

header h1{
    font-size: 3rem;
}

header{
    text-align: center;
}



img.x-button{
    cursor: pointer;
    opacity:0.8;
}



#youtube{
    display: flex;
    flex-direction:column;
    align-items: center;
}

#youtube-view section{
    display: flex;
    align-items: center;
    justify-content: flex-start ;
    text-align: center;
    flex-direction: column;
    height: 550px;
}

.yt-box{
    width:640px;
    height:360px;
    margin: 30px;
    border-radius: 4px;
    
}

iframe{
    height: 100%;
    width:100%;
    border: 1px solid var(--red);
}

div.interacts-box{
    display: flex;
    flex-direction: row;
    align-items: baseline
}

.interacts-box img{
    margin: 0 10px;
}

.trailer{
    cursor: pointer;
    font-size: 1rem;
    color: var(--violet);
    margin-top:20px;
    margin-bottom: 0;
}

.trailer:hover{
    opacity:0.8;
    font-size: var(--hover);
}

.not-found{
    font-size: 2.3rem;
    margin:40px 0px;
}

.submit{
    cursor: pointer;
}

.empty{
    height:800px;
}

.circle{
    margin-top:30px;
    width: 50px;
    height: 50px;
}


#m-length{
    width: 300px;
    font-size: 0.8rem;
    position:relative;
}

#m-length em{
    position: absolute;
    right: 25px;
    width: max-content
}



@media (max-width: 960px){

    .mobile{
        display: none;
    }

    [data-section="menu-container"]{
        display: flex;
        margin-right: 10px;
    }
    
    #menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    #menu div{
        background-color: var(--red);
        width:30px;
        margin-bottom:5px;
        border-radius: 2px;
        height:3px;
    }
    
    #heading a{
        color: white;
        margin: 15px;
        margin-left:0px ;
    }


    #menu:hover{
        opacity:0.8;
    }
    

    #menu-view{
        display: flex;
        justify-content: space-around;
        background-color: rgba(37, 5, 5, 0.44);
        font-size: 1rem;
        margin:15px;
    }
}





@media (max-width: 760px){
#heading,header{
    font-size: 1rem;
}
.yt-box{
    width:450px;
    height:320px;
}

textarea,#m-length{
    width:150px;
}

[data-section] div{
    font-size: 1.3rem;
}

#heading a:hover{
    background-color:black;
    padding:0;
    border-radius:0;
}

#heading a:hover{
    background-color:black;
    padding:0;
    border-radius:0;
}

div.boxContents{
    width:30%;
}
header h1{
    font-size: 2rem;
}
h1{
    font-size: 2.5rem;
}



#menu-view{
    font-size: 0.9rem;
}

}

@media(max-width:670px){
    
section.album-view{
    flex-direction: column;
    align-items: center;
}

div.boxContents{
    width:45%;
}

#heading a{
    margin: 5px;
}

}
@media(max-width:700px){
    #heading a{
        font-size: 0.8rem;
    }

}

@media(max-width:634px){
    #menu-view{
        justify-content: flex-end;
        flex-direction: column;
        font-size: 0.8rem;
        margin:15px;
    }
    #heading a{
        margin: 2px;
    }
    .yt-box{
        width:340px;
        height:250px;
    }

    [data-section] div{
        font-size: 1rem;
    }
}


@media(max-width:400px){
    
    #menu-view{
        font-size: 0.7rem;
        margin:5px;
    }
    textarea,#m-length{
        width:100px;
    }

    .yt-box{
        width:200px;
        height:175px;
    }

    #text-box{
        margin-top: 5px;
    }
    
    header h1{
        font-size: 1.3rem;
    }
    h1{
        font-size: 1.3rem;
    }

    
    #m-length{
        font-size: 0.5rem;
    }
    
    [data-section="title"] h1{
        font-size: 1rem;
    }

}

