#watch-list-background{
    background-image:url(../images/background2.jpg);
    background-position: center;
    background-repeat: repeat;
}


[data-section='watch-list']{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.5rem;
    padding-bottom: 30px;
    opacity:0.95;
}